@page "/personas/nueva"
@page "/personas/editar/{id:int}"
@inject NavigationManager _navigationManager
@inject IRepositorioPersonas _repositorioPersonas
@inject IRepositorioClasificaciones _repositorioClasificaciones
@rendermode InteractiveServer
<PageTitle>Personas</PageTitle>
<h3>@_mensaje Persona</h3>

<EditForm Model="_persona" FormName="frmPersona" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="txtNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <InputText class="form-control" id="txtNombre" @bind-Value="_persona.Nombre" />
            <ValidationMessage For="()=>_persona.Nombre" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtCorreo" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
            <InputText class="form-control" id="txtCorreo" @bind-Value="_persona.Correo" />
            <ValidationMessage For="()=>_persona.Correo" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtTelefono" class="col-sm-2 col-form-label">Teléfono</label>
        <div class="col-sm-10">
            <InputText class="form-control" id="txtTelefono" @bind-Value="_persona.Telefono" />
            <ValidationMessage For="()=>_persona.Telefono" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtClasificacion" class="col-sm-2 col-form-label">Clasificación</label>
        <div class="col-sm-10">
            <InputSelect class="form-select" id="txtClasificacion" @bind-Value="_persona.ClasificacionId">
                <option value="">Seleccione...</option>
                @foreach (var clasificacion in _clasificaciones)
                {
                    <option value="@clasificacion.Id">@clasificacion.Nombre</option>
                }
            </InputSelect>
            <ValidationMessage For="()=>_persona.ClasificacionId" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger" @onclick="Cancelar">Cancelar</button>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }
    private Persona _persona = new();
    private string _mensaje = "Nueva ";
    private List<Clasificacion> _clasificaciones = new();

    protected override async Task OnInitializedAsync()
    {
        _clasificaciones = await _repositorioClasificaciones.GetAll();
        if (id > 0)
        {
            _mensaje = "Modificar ";
            _persona = await _repositorioPersonas.Get(id);
        }
    }

    private void Cancelar()
    {
        _navigationManager.NavigateTo("/personas");
    }

    private async Task Guardar()
    {
        if (id > 0)
        {
            _persona.Id = id;
            await _repositorioPersonas.Update(_persona);
        }
        else
        {
            await _repositorioPersonas.Add(_persona);
        }
        Cancelar();
    }
}
